#distraction-icon {
    position:absolute;
    right: 10px;
    top: 10px;
    height: 40px;
    width: 43px;
}
#distraction-icon:active {
    height: 45px;
    width: 45px;
    right:7.5px;
    top: 7.5px;
    filter: none;
}

#distraction-icon.enabled {
    filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}

#distraction-icon.enabled:hover {
    cursor: pointer;
}

#distraction-icon.disabled {
    display: none;
}

