:root {
  --main-bg-color: #c9e0d7;
  --main-border-color: #8e17dd;
  --main-text-color: #000000;
  --short-break-bg-color: #FEF9C7;
  --long-break-bg-color: #FCE181;
  --main-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.20), 0 12px 40px 0 rgba(0, 0, 0, 0.20);
}

* {
  font-family: 'Open Sans', sans-serif;
}
#page-title {
  position: absolute;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #e9a77ef1;
  color: #e9a77e00;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-top: 50px;
}
html{
  background-color: var(--main-bg-color);
  top: 0;
  left:0;
  right:0;
  bottom:0;
  overflow-y: scroll;
  overflow-x: auto;
  min-width: 730px;
}
body {
  position: relative;
  display: flex;
  top: 0;
  left:0;
  right:0;
  bottom:0;
}

input[type=button], button {
  cursor: pointer;
}

input[type=button]:active, button:active {
  border-style: inset;
  top: 2px;
  box-shadow: 0px 0px;
}

#left-half {
  width: 50%;
  overflow: hidden;
}
#right-half {
  width: 50%;
  display: flex;
  margin-right: 60px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

/*box that holds timer and start/stop buttons and pomo label */
#timer-box {
  overflow:auto;
  position: fixed;
  left: 45%;
  top: max(22.5%,200px);
  transform: translate(-100%);
  background: #ffffff;
  width: 30%;
  min-width: 550px;
  max-width: 700px;
  height: 400px;
  border-radius: 30px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.22), 0 12px 40px 0 rgba(0, 0, 0, 0.22);
}
/*holds the label for which type of timer is running */
#session-type {
  padding: 10px 0 0 0;
  color: var(--main-text-color);
  font-size: clamp(22px,1.2vw,37px);
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
/* styles the labels for timer type */
#pomo {
  text-decoration: underline;
  text-underline-offset: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight:600;
}

#short-break, #long-break {
  text-decoration: none;
  font-weight:400;
  text-underline-offset: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

/*the actual timer display*/
#time {
  position: relative;
  font-size: 130px;
  color: var(--main-text-color);
}

/* start button */
#start[value=Start] {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: -3px;
  border-color: var(--main-text-color);
  border-radius: 5px;
  background-color: #c9e0d7;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  color: var(--main-text-color);
  height: 60px;
  width: 100px;
}

/* stop button */
#start[value=Stop] {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: -3px;
  border-color: var(--main-text-color);
  border-radius: 5px;
  background-color: #e9a77e;
  border-style: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  color: var(--main-text-color);
  height: 60px;
  width: 100px;
  cursor:pointer;
}

#start:active {
  border-style: none;
  top: 2px;
  box-shadow: 0px 0px;
}

#add-interruption {
  position: absolute;
  height: 50px;
  width: 55px;
  margin-left: 70px;
  margin-top: 5px;
}
#collapse-task-list {
  position:absolute;
  left:0;
  height: 35px;
  width: 40px;
  font-size: 25px;
  font-weight: bold;
  background-color: var(--main-bg-color);
  border-width: 0;
  border-color: #026670;
  cursor: pointer;
}
#collapse-task-list:active {
  margin-top: 10px;
}

.close{
  right:-600px !important;
  
}
.transition{
-webkit-transition: right 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: right 0.3s ease-out;  /* Firefox 4-15 */
     -o-transition: right 0.3s ease-out;  /* Opera 10.50–12.00 */
        transition: right 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}

.side-bar {
  width: 45px;
  height: 100%;
  position: absolute;
  top: 1%;
  right: 0.5%;
}

.side-bar-icons img {
  width: 40px;
  height: 40px;
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}
#timer-box-center {
  position: relative;
  transform: none;
  left: auto !important;
  top: auto;
  background: #ffffff;
  margin: 50px auto;
  margin-top: 180px;
  width: 30%;
  min-width: 550px;
  max-width: 700px;
  height: 400px;
  border-radius: 30px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.22), 0 12px 40px 0 rgba(0, 0, 0, 0.22);
}

@media all and (max-width:1300px) {
  body {
    background-color: var(--main-bg-color);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  #timer-box {
    position: relative;
    transform: none;
    left: auto !important;
    top: auto;
    background: #ffffff;
    margin: 50px auto;
    margin-top: 180px;
    width: 30%;
    min-width: 550px;
    max-width: 700px;
    height: 400px;
    border-radius: 30px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.22), 0 12px 40px 0 rgba(0, 0, 0, 0.22);
  }
  #left-half {
    width: 100% !important;
  }
  #right-half {
    width: 100%;
    margin-left: 0;
  }
  #expand-task-list {
    margin-top: 650px !important;
  }
  #to-do-list-header {
    margin-top: 10px !important;
  }
}
@keyframes slideout {
  from {
    margin-left: 50px;
  }

  to {
    margin-left: 1600px;
  }
}
@keyframes slidein {
  to {
    margin-left: 50px;
  }

  from {
    margin-left: 1600px;
  }
}
@keyframes slideRight {
  to {
    left: 68%;
  }

  from {
    left: 45%;
  }
}
@keyframes slideLeft {
  from {
    left: 68%;
  }

  to {
    left: 45%;
  }
}

