body {
  background-color: #EDEAE5;
  font-family: 'Open Sans', sans-serif;
}

/*box that holds timer and start/stop buttons and pomo label */
#timer-box {
  position: relative;
  margin: 100px auto;
  background: #9FEDD7;
  width: 30%;
  min-width: 550px;
  height: 350px;
  border-radius: 30px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*holds the label for which type of timer is running */
#which-container {
  padding: 10px 0 0 0;
  color: #026670;
  font-size: 22px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
/* styles the labels for timer type */
#pomo {
  text-decoration: underline;
  text-underline-offset: 15px;
  margin-right: 15px;
  margin-left: 15px;
  font-weight:600;
}

#short-break, #long-break {
  text-decoration: none;
  font-weight:400;
  text-underline-offset: 15px;
  margin-right: 15px;
  margin-left: 15px;
}

/*the actual timer display*/
#time {
  position: relative;
  font-size: 100px;
  color: #026670;
}

/* start button */
#start {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: -3px;
  border-color: #026670;
  border-radius: 5px;
  background-color: #EDEAE5;
  border-style: outset;
  box-shadow: 0px 3px;
  outline: none;
  color: #026670;
  height: 60px;
  width: 90px;
}

#start:active {
  border-style: inset;
  top: 3px;
  box-shadow: 0px 0px;
}
