#info-icon {
    float: right;
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    display: inline;
    margin-top: 10px;
    right: 1%;
  }
  
  #info-modal {
    display: none;
    position: fixed;
    margin: auto;
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 100px auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  #info-box {
    color: #3a494b;
    margin: 100px auto;
    background: #dee2e1;
    width: 55%;
    min-height: 600px;
    min-width: 500px;
    border-radius: 40px;
    text-align: center;
    z-index: 0;
    padding: 20px 50px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
  }

  #close-info {
    position: relative;
    height: 25px;
    width: 25px;
    top: 10px;
    font-size: 17px;
    margin-left: 99%;
    border-radius: 25%;
    border-style: none;
    background: #e65656ef;
    color:white;

  }
  
  #info-container {
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
  }
  
  #info-text {
    padding-top: 50px;
    font-size: 300%;
  }
  #info-box p, li {
    text-align: left;
  }
  #info-box h1 {
    text-decoration: underline;
  }
  #info-box h2 {
    text-decoration: underline;
    margin-top: 35px;
  }

  #make-task-ex {
      display:block;
      margin: auto;
  }
