#settings-icon {
  float: right;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  display: inline;
  top: 20px;
  right: 1%;
}

#settings-modal {
  display: none;
  position: fixed;
  margin: auto;
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  padding: 100px auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

#settings-box {
  color: #3a494b;
  margin: 100px auto;
  background: #dee2e1;
  width: 650px;
  min-height: 600px;
  border-radius: 40px;
  text-align: center;
  z-index: 0;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
}

#settings-container {
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: left;
}

#settings-container select {
  float: right;
}

#settings-buttons {
  padding-bottom: 40px;
  margin-top: 30px;
}

#settings-buttons input {
  text-align: center;
  font-size: 20px;
  position: relative;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  height: 60px;
  width: 100px;
  margin: 0px 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#settings-buttons input:active {
  border-style: inset;
  top: 3px;
  box-shadow: 0px 0px;
}

#cancel-button {
  background-color:#e65656ef;
}

#save-button {
  background-color: #129b24ef;
}

.c1 {
  flex: 50%;
  padding: 0px 0px 30px 70px;
  width: 75%;
  font-size: 18px;
  word-wrap: break-word;
}

.c2 {
  flex: 50%;
  padding: 3px;
  width: 100px;
  font-size: 16px;
}

#settings-text {
  padding-top: 50px;
  font-size: 300%;
}