.task-input {
  display: grid;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 450px;
  border-radius: 30px;
  border-style: none;
  border-width: 2.5px;
  text-align: center;
  grid-template-areas:
    'name expect clock pomos'
    'notes notes notes notes'
    'add add add add'
    'cancel cancel save save';
  padding: 25px;
  grid-gap: 10px;
  background-color: #FFFFFF;
  box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.22), 0 12px 40px 0 rgba(0, 0, 0, 0.22);
}
/* name input */
.add-task-name{
  grid-area: name;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border-style: solid;
  background-color: #FFFFFF;
  font-size: 20px;
  border-width: 2.5px;
  padding-left: 5px;
}
.add-task-name:focus {
  border-color: #c2d4ff;
  outline: none;
  background-color: #FFFFFF;
}
/* input expected number of pomos */
.expected {
  grid-area: expect;
  width: 40px;
  margin: 0;
  height: 50px;
  padding-left: 5px;
  text-align: center;
}

.pomos {
  text-align: center;
  grid-area: pomos;
  height: 45px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2.5px;
  background-color: #FFFFFF;
}

.pomos:focus {
  border-color:#c2d4ff;
  outline: none;
}

.clock-clip-art {
  grid-area: clock;
  margin-top: 0;
  text-align: center;
  margin-left: 20px;
  height: 20px;
  width: 20px;
}

.cancel-input {
  grid-area: cancel;
  position: relative;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background-color:#e65656ef;
  border-style: none;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-left: 150px;
  margin-top: 5px;
  font-size: 15px;
  
}

.save-task{
  grid-area: save;
  width: 60px;
  height: 35px;
  border-width: 0;
  border-radius: 5px;
  color: white;
  background-color: #4abb40ef;
  font-size: 15px;
  margin-top: 5px;
  margin-left: -30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

/* add notes area */
.add-task-description {
  grid-area: notes;
  background-color: #ffffff;
  height: 100px;
  resize: none;
  border-radius: 5px;
  border-width: 2.5px;
  font-size: 15px;
  padding: 3px;
  padding-left: 5px;
  padding-top: 5px;
}

.add-task-description:focus {
  border-color:#c2d4ff;
  outline: none;
}
