/* styling for the tasklist */
#to-do-list-header {
  position: relative;
  margin-top: max(22.5%,200px);
  width: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#task-line-break {
  border-width: 1px;
  width: 70%;
  max-width: 650px;
  min-width: 550px;
  margin: auto;
  margin-top: 10px;
  background-color:#026670;
  color:#026670;
  border-color: #026670;
  border-style: solid;
  margin-bottom: 5px;
}

#list-title {
  margin: 0 auto;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
/* button to add new task */
#add-task {
  position: relative;
  height: 88px;
  width: 500px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #129b24ef;
  background-color: #b9fcb0;
  font-size: 30px;
  font-weight: bold;
  display: block;
  border-style:solid;
  border-width: 2px;
  border-radius: 30px;
  border-width: 2px;
  border-color: #129b24ef;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
#add-task:focus {
    outline: none;
}
#add-task:active {
  background-color:  #e2ffa4;
  box-shadow: 0 1px #cfbd79;
  transform: translateY(4px);
}
#view-all {
  position: relative;
  margin: 30px auto;
  margin-bottom: 0;
  border: none;
  background-color: #fffbf6;
  font-size: 25px;
}
#view-all:focus {
  outline: none;
}
#view-all:active {
  font-size: 24px;
  margin-top: 31px;
}
/* holder for all tasks */
#to-do-list {
  position: relative;
  margin: 15px auto;
  width: 500px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* input box for new task */
#task-add-input {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: 450px;
  border-radius: 30px;
  border-color:#026670;
  border-style: solid;
  border-width: 2.5px;
  text-align: center;
  display: grid;
  grid-template-areas:
    'name expect clock pomos'
    'notes notes notes notes'
    'add add add add'
    'cancel cancel save save';
  padding: 20px;
  grid-gap: 10px;
  background-color: #fffbf6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: none;
}
/* name input */
#add-task-name{
  grid-area: name;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border-style: solid;
  background-color: #fffbf6;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border-width: 2.5px;
  padding-left: 5px;
}
#add-task-name:focus {
  border-color: blue;
  outline: none;
  background-color: #fffbf6;
  font-family: 'Open Sans', sans-serif;
}
/* input expected number of pomos */
#expected {
  grid-area: expect;
  width: 40px;
  margin: 0;
  height: 50px;
  padding-left: 5px;
  text-align: center;
}

#pomos {
  text-align: center;
  grid-area: pomos;
  height: 45px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2.5px;
  font-family: 'Open Sans', sans-serif;
  background-color: #fffbf6;
}

#pomos:focus {
  border-color: blue;
  outline: none;
}

#clock-clip-art {
  grid-area: clock;
  margin-top: 0;
  text-align: center;
  margin-left: 20px;
  height: 20px;
  width: 20px;
}

#cancel-input {
  grid-area: cancel;
  position: relative;
  width: 60px;
  height: 35px;
  border-radius: 5px;
  text-align: center;
  background-color:#e65656ef;
  border-style: none;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  margin-left: 150px;
  margin-top: 5px;
  font-size: 15px;
  
}

#save-task{
  grid-area: save;
  margin-left: 150px;
  width: 60px;
  height: 35px;
  border-width: 0px;
  border-radius: 5px;
  color: white;
  background-color: #4abb40ef;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin-top: 5px;
  margin-left: -30px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
/* button to add notes */
#add-notes {
  margin: auto;
  grid-area: add;
  border-width: 2px;
  border-radius: 5px;
  background-color: #fffbf6;
  height: 25px;
  margin-bottom: 10px;
}
#add-notes:focus {
  outline: none;
}
/* add notes area */
#add-task-description {
  grid-area: notes;
  background-color: #fffbf6;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  resize: none;
  border-radius: 5px;
  border-width: 2.5px;
  font-size: 15px;
  padding: 3px;
  padding-left: 5px;
  padding-top: 5px;
  display: none;
}

#add-task-description:focus {
  border-color: blue;
  outline: none;
}
/* style for each task-item */
task-item {
  cursor: move;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 450px;
  border-radius: 30px;
  border-color:#026670;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  display: grid;
  grid-template-areas:
    ' check taskName pomo'
    ' notes notes notes'
    ' remove remove edit';
  padding: 20px 20px 10px;
  grid-gap: 5px;
  background-color: #fffbf6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.expand-button {
    width: 20px;
    height: 20px;
    margin-right: 0;
    margin-left: 440px;
    margin-top: 30px;
    position: absolute;
}
.expand-button:focus {
  outline: none;
}


/* custom checkbox from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox */
.task-checkbox {
  display: block;
  position: relative;
  margin-bottom: 0;
  margin-top: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 42px;
  grid-area: check;
}

/* Hide the browser's default checkbox */
.task-checkbox input {
  position: absolute;
  opacity: 0%;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #ccc;
  border-radius: 50%;
  border-color: #026670;
  border-width: 2px;
}

/* When the checkbox is checked, add a blue background */
.task-checkbox input:checked ~ .checkmark {
  background-color: #026670;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: block;
}

/* Style the checkmark/indicator */
.task-checkbox .checkmark:after {
  left: 13px;
  top: 5px;
  width: 25%;
  height: 50%;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.name {
  font-size: 25px;
  font-weight: 600;
  margin: auto;
  grid-area: taskName;
  width: 250px;
  text-align: center;
  overflow-wrap: break-word;
  white-space: initial;
}
.pomo-progress {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
  grid-area: pomo;
  margin-right: 60px;
  margin-left:0;
  width: 100px;
}
.notes{
  width: 300px;
  grid-area: notes;
  text-align: left;
  white-space: pre-wrap;
  margin-left: 52px;
  overflow-wrap: break-word;
}

.edit-button {
  grid-area: edit;
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: -30px;
  margin-top: 0px;
  margin-bottom: 10px;
}
.edit-button:focus {
  outline: none;
}
.edit-button:active {
  height: 32px;
  width: 32px;
  margin-left: -28.5px;
}
.remove-button{
  grid-area: remove;
  position: relative;
  width: 35px;
  height: 35px;
  margin-left: 175px;
  margin-bottom: 10px;
}
.remove-button:focus {
  outline: none;
}

.remove-button:active {
    height: 32px;
    width: 32px;
    margin-left: 176.5px;
}

/* completed list*/
#completed-list-header {
    position: relative;
    width: 400px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
#completed-list {
  position: relative;
  margin: 30px;
  margin-top: 0px;
  width: 500px;
  text-align: center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

  #completed-list-title {
    margin: 20px auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
 #expand-completed {
    width: 20px;
    height: 20px;
    left: 350px;
    top: 33px;
    position: absolute;
}
#expand-completed:focus {
  outline: none;
}

.none {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* style for editing a task */
#change-task-name{
  grid-area: name;
  height: 40px;
  width: 200px;
  border-radius:5px;
  border-style:solid;
  background-color: #EDEAE5;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  border-width:3px;
}

#change-task-description {
  grid-area: notes;
  background-color: #EDEAE5;
  height: 100px;
  font-family: 'Open Sans', sans-serif;
  resize:none;
  border-radius: 5px;
  border-width:3px;
  font-size: 15px;
  padding: 3px;
  display:none;
}
